@charset "UTF-8";

*
	{
		text-align: center; 
		font-family: 라인Seed;
		font-weight: bold;
	}
	
	input
	{
		width: 50%;
		height: 40pt;
		border-radius: 15px;
		border: solid 2px #ff8000;
		font-size: 15pt;
	}
	
	.search
	{
		position: relative;
		height: 42px;
	}
	
	.search button
	{
		position: absolute;
   		color: #ff8000;
    	left: 72%;
    	top: 9px;
   		background: none;
   		border: none;
	}
	
	
	.bi-search
	{
		font-size: 20pt;
	}
	
	hr
	{
		margin: 0 auto !important;
		width: 70%;
		padding: 5px;
		height: 30%;
	}
	
	
	h3
	{
		margin-left: 15%;
		text-align: left;
		padding-top: 40px;
	}
	

	.simple
	{
		height: 35pt;
		text-align: left;
		padding: 10px;
		margin-left: 27%;
		
	}
	
	#qna h3
	{
		text-align: left;
		margin-left: 28%;
	}
	
	.g-col-2
	{
		font-size: 15pt;
	}

	.inquiry 
	{
		border: solid 1px #F2F2F2;
		border-radius: 5px;
		padding: 20px;
		margin-left: 18%;
		background-color: #F2F2F2;
		
	}

	.inquiry a
	{
		font-size: 15pt;
		text-decoration: none;
		color: gray;
		
	}
	
	.inquiry i
	{
		font-size: 25pt;
		padding: 20px;
		text-align: center;
		color: gray;
	}
	
	.notices, .qnaList
	{
		padding: 15px;
		height: 35pt;
		text-align: left;
		margin-left: 15%;
		width: 70%;
	}
	
	
	.more
	{
		color: black;
		text-decoration: none;
		text-align: right;
		margin-right: 16%;
	}
	
	
	.input-group-addon + .input-group-addon{position:relative;}
	.input-group-addon + .input-group-addon:before{
	    content: '';
	    display: block;
	    width: 1px;
	    height: 70%;
	    background: #939393;
	    position: absolute;
	    top: 22px;
	    left: 0;
	}
	
	.faqselect:focus
	{
		color : #ff8000;
	}
	
	.accordion
	{
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	
	.answer
	{
		text-align: left;
		font-family: 맑은 고딕;
		font-weight: bold;
		font-size: 11pt;
		background-color: #d5d5d540;
	}
	
	.accordion-button:not(.collapsed)
	{
		background-color: #ff8000;
		color: white;
	}
		
	.report
	{
	    background-color: #f2f2f2;
	    padding: 21px;
	    width: 170px;
	    margin-left: 72px;
	    border-radius: 5px
	}
	
	.report a 
	{
	    color: gray;
	    text-decoration: none;
	    font-size: 20px;
	}
	
	.report i
	{
		color: gray;
		font-size: 25pt;
	}
	
	.text-center
	{
		margin: 10px !important;
	}
	
	/* 검색어 css */
	#searchList
	{	
		border: 2px solid #ff8000;
	    width: 50%;
	    position: absolute;
	    font-weight: bold;
	    color: #343;
	    display: none;
	    background-color: white;
	    margin-left: 25%;
	    z-index: 1;
	}
 	#searchList a	
 	{
		padding: 2px;
	    text-decoration: none;
	    color: #343;
	    font-size: 20px;
	} 
	#searchList #footer
	{
		height: 14px;
		background-color: #DDD;
		text-align: right;
		padding: 5px;
		font-size: small;
	}