@charset "UTF-8";

	*
	{
		text-align: center; 
		font-family: 라인Seed;
		font-weight: bold;
	}
	
	input
	{
		width: 50%;
		height: 40pt;
		border-radius: 15px;
		border: solid 2px #ff8000;
		font-size: 15pt;
	}
	
	.search
	{
		position: relative;
		height: 42px;
	}
	
	.search button
	{
		position: absolute;
   		color: #ff8000;
    	left: 72%;
    	top: 9px;
   		background: none;
   		border: none;
	}
	
	.bi-search
	{
		font-size: 20pt;
	}
	
	hr
	{
		margin: 0 auto !important;
		width: 70%;
		padding: 5px;
		height: 30%;
	}
	
	
	h3
	{
		margin-left: 15%;
		text-align: left;
		padding-top: 40px;
	}
	

	.simple
	{
		height: 35pt;
		text-align: left;
		padding: 10px;
		margin-left: 27%;
		
	}
	
	#qna h3
	{
		text-align: left;
		margin-left: 28%;
	}
	
	.g-col-2
	{
		font-size: 15pt;
	}

	.notices, .qnaList
	{
		padding: 15px;
		height: 35pt;
		text-align: left;
		margin-left: 15%;
		width: 70%;
	}
	
	.more
	{
		color: black;
		text-decoration: none;
		text-align: right;
		margin-right: 16%;
	}
	
	.faqselect:focus
	{
		color : #ff8000;
	}
	
	.accordion
	{
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	
	.answer
	{
		text-align: left;
		font-family: 맑은 고딕;
		font-weight: bold;
		font-size: 11pt;
		background-color: #d5d5d540;
	}
	
	.accordion-button:not(.collapsed)
	{
		background-color: #ff8000;
		color: white;
	}
		
	.text-center
	{
	    text-align: center !important;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-evenly;
	    align-content: center;
	}
	
	.textBody
	{
		width: 1350px;
    	margin-left: 278px;
		margin-top: 50px;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	    padding: 13px 0;
	}
	
	div#accordionExample 
	{
    	margin-top: 20px;
	}
	
	/* 검색어 css */
	#searchList
	{	
	    border: 2px solid #ff8000;
	    border-top: none;
	    width: 50%;
	    position: absolute;
	    top: 243px;
	    font-weight: bold;
	    color: #343;
	    display: none;
	    background-color: white;
	    margin-left: 25%;
	    z-index: 1;
	}
 	#searchList a	
 	{
		padding: 2px;
	    text-decoration: none;
	    color: #343;
	    font-size: 20px;
	} 
	#searchList #footer
	{
		height: 14px;
		background-color: #DDD;
		text-align: right;
		padding: 5px;
		font-size: small;
	}