@charset "UTF-8";

body 
{
    font-family: '라인Seed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.friend-list 
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.friend-list .profile 
{
    text-align: center;
    margin-bottom: 20px;
}

.friend-list .profile img 
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #ff8000;
}

.friend-list .myName 
{
    margin-top: 10px;
    font-size: 24px;
    color: #343a40;
}

.search-container 
{
    margin-bottom: 30px;
    text-align: center;
}

.search-container .search-input 
{
    width: 70%;
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #ff8000;
    outline: none;
}
  
.search-input 
{
	height: 56px;    
	margin-bottom: 30px;
}

.search-container .bi-search 
{
    font-size: 24px;
    background-color: #ff8000;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.search-container .bi-search:hover 
{
    color: black;
}

.friends 
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
	margin-left: 40px;
    overflow-y: auto; /* 수직 스크롤바 설정 */
	max-height: 400px; /* 최대 높이 설정 */
}

.friends h2 
{
    font-size: 24px;
    color: black;
    border: 2px solid #ff8000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.friends .lists li 
{
    padding: 15px 0;            
    border-bottom: 1px solid #ff8000;
    color: #343a40;
    font-size: 18px;
}


.container 
{
	padding-top: 50px;
}

.lists li 
{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.message_btn, .delete_btn 
{
    border: none;
    background-color: white;
}

.message_btn i,
.delete_btn i 
{
    padding: 5px;
}
      
.plus_btn 
{
	background-color: #ff8000; 
	color: white; 
	margin-left: 300px;
}

hr 
{
	width: 80%; 
	margin: 0 auto;
}

::-webkit-scrollbar 
{
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb 
{
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}

img.friend, .friend-profile>img
{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ff8000;
}

#type 
{
    padding: 10px; 
    border: 2px solid #ff8000; 
    border-radius: 30px; 
    outline: none; 
    margin-bottom: 30px;
    height: 56px;
}

#type, .search-input 
{
    display: inline-block; 
    vertical-align: middle; 
}

.bi-search 
{
	margin-bottom: 30px;
}

.search-container .search-input,
.search-container .bi-search 
{
    vertical-align: middle;
}

.friend-profile
{
	display: flex; 
	justify-content: space-between;
}

.invite-btn
{
	border: 1px solid #ff8000;
    background-color: white;
}

.modal-content
{
	width: 100%;	
}

.bi-x-circle, .bi-envelope
{
	color: #ff8000;
	font-size: 20pt;
}