@charset "UTF-8";

@font-face {
    font-family: '프리텐다드';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/*
body 
{
    font-family: '라인Seed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*/

/* 호버텍스트 */
.friend-hover-text {display: none; border: 1px solid black; position: absolute; padding: 2px 5px;
					font-size: 9pt; background-color: white; font-family: 맑은 고딕;}


.friend-list 
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.friend-list .profile 
{
    text-align: center;
    /*margin-bottom: 20px;*/
}

.friend-list>div>.profile-title {font-family: 프리텐다드; font-size: 17pt; font-weight: 900;}
a.profile-edit {font-size: 10pt; position: absolute; color: #838383; padding-left: 3px;}
.profile-info {display: flex; justify-content: flex-start; align-items: center;}
/*.friend-list .profile img*/ 
.friend-list>.profile>.profile-info>.profile-picture>img 
{
	/*
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #ff8000;
    */
    width: 100px;
    border-radius: 50%;
}
.profile-picture, .profile-detail {display: inline-block;}
.profile-detail {text-align: left; padding-left: 10px; font-family: 프리텐다드;}
.profile-detail>.profile-user {display: flex; align-items: center;} 
.profile-detail>.profile-user>span#profile-name {font-size: 16pt; font-weight: 400;}
.profile-detail>.profile-user>span#profile-id {font-size: 13pt; font-weight: 400;}
.profile-detail>.profile-user>span#profile-code {font-size: 12pt; font-weight: 300; color: #838383; padding-left: 7px;}
/*
.friend-list .myName 
{
    margin-top: 10px;
    font-size: 24px;
    color: #343a40;
}
*/

.search-container 
{
    margin-bottom: 30px;
    text-align: center;
}

.search-container .search-input 
{
    width: 70%;
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #ff8000;
    outline: none;
}
  
.search-input 
{
	height: 56px;    
	margin-bottom: 30px;
}

.search-container .bi-search 
{
    font-size: 24px;
    background-color: #ff8000;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.search-container .bi-search:hover 
{
    color: black;
}

.friends 
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
	margin-left: 40px;
    overflow-y: auto; /* 수직 스크롤바 설정 */
	max-height: 400px; /* 최대 높이 설정 */
}

.friends h2 
{
    font-size: 24px;
    color: black;
    border: 2px solid #ff8000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.friends>ul.lists {padding: 0;}
.friends .lists li 
{
    padding: 10px;            
    border-bottom: 1px solid #ff80004f;
    color: #343a40;
    font-size: 18px;
}
.friends>.lists>li:hover {background-color: #f7f7f7;} 


.container 
{
	padding-top: 50px;
}

.lists li 
{
    display: flex;
    justify-content: space-between;
    /*margin-right: 30px;*/
}

.btns-btn {display: inline-block;}
.message_btn, .delete_btn 
{
    border: none;
    background-color: unset;
}
.message_btn:hover+.friend-hover-text, .delete_btn:hover+.friend-hover-text {display: block;} 

.message_btn i,
.delete_btn i 
{
    padding: 5px;
}
      
.plus_btn 
{
	background-color: #ff8000; 
	color: white; 
	margin-left: 300px;
}

hr 
{
	width: 80%; 
	margin: 0 auto;
}

::-webkit-scrollbar 
{
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb 
{
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}

.friend-profile
{
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}
.friend-profile>.friend-picture>img {width: 50px; border-radius: 50%;}
.friend-user {font-family: 프리텐다드; padding-left: 10px;}
.friend-user>.friend-name {font-size: 16pt; font-weight: 500;}
.friend-user>.friend-id {font-size: 14pt; font-weight: 500;}
.friend-user>.friend-code {font-size: 11pt; font-weight: 200; color: #838383;}
/*
img.friend, .friend-profile>img
{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ff8000;
}
*/

#type 
{
    padding: 10px; 
    border: 2px solid #ff8000; 
    border-radius: 30px; 
    outline: none; 
    margin-bottom: 30px;
    height: 56px;
}

#type, .search-input 
{
    display: inline-block; 
    vertical-align: middle; 
}

.bi-search 
{
	margin-bottom: 30px;
}

.search-container .search-input,
.search-container .bi-search 
{
    vertical-align: middle;
}

.invite-btn
{
	border: 1px solid #ff8000;
    background-color: white;
}

.modal-content
{
	width: 100%;	
}

.bi-x-circle, .bi-envelope
{
	color: #ff8000;
	font-size: 20pt;
}