@charset "UTF-8";

.groupMain_side
{
	width: 280px;
    margin-inline-start: 140px;
}

.groupMain_main {
    width: 1280px;
    position: absolute;
    top: 120px;
    /* float: right; */
    margin-inline-start: 475px;
}   

.groupMain_main h4
{
	font-family: 라인Seed;
	display: inline-block;
}

th
{
	font-family: 라인Seed;
} 

 .groupFeebtn:hover
{
	font-size: 13px;
	border: solid 2px #ff8000;
	border-radius: 5px;
	color: #ff8000;
	background-color: white;
	padding: 8px;
}

.groupFeebtn
{
	font-size: 13px;
	border: solid 2px #ffffff;
	border-radius: 5px;
	color: #ffffff;
	background-color: #ff8000;
	padding: 8px;
	
}

.groupFee
{
	width: 100%;
    padding: 8px 0;
    margin-bottom: 10px;
}

.groupFeeList
{
	padding: 10px;
    height: 160px;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
