@charset "UTF-8";

/* 	    
@font-face 
   {
    font-family: '라인Seed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} 
*/

.one 
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.btn-default 
{
	background-color: #FF6F0F; 
	color: white;
	font-size: 18pt;
}

.item
{
	margin-top: 140px;   
	width: 50%; 	
}

.item-img
{
	width: 300px;
}

.item-button
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    width: 400px;
	border-radius: 5px;
	margin-right: 20px;
	margin-top: 300px;
}
	
.join
{
	font-size: medium;
	text-align: center;
}

.item-image
{
	display: flex;
    background: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20240206174213/images/intro/ko/bg_intro.jpg) 50% 50% no-repeat;
	background-size: cover;
	height: 540px;
	width: 100%;
	justify-content: center;
	margin-top: 100px;
	flex-direction: column;
	text-align: center;
}

.image-text
{
	color: white;
	text-align: center;
}

ul
{
	display: flex;
 	list-style-type: none;
 	padding: 100px 0 0;
 	justify-content: center;
 	text-align: center;
    flex-wrap: wrap; 
}

li 
{
    flex: 1;
    text-align: center; 
    margin: 0 10px; 
    
}

.imgList img 
{
    width: 300px;
    height: 160px; 
}

.imgList, div 
{
    margin-bottom: 20px;
}

.question
{
	padding-top: 100px;
	text-align: center;
}

.dropdown-toggle
{
	font-size: 18pt;
  		background-color: #FF6F0F; 
  		width: 60%;
}

.dropdown-menu 
{
    position: static;
    display: none;
    float: none;
    min-width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.dropdown-menu.show 
{
    display: block;
}