@charset "UTF-8";

/* 웹폰트 */
@font-face {
    font-family: '프리텐다드';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* 공통 css */
#member-header-wrap {height: 70px; font-weight: normal;}
#member-header-wrap>.navbar {background-color: white !important; padding: 0; height: inherit;}

/* 호버텍스트 */
.member-header-hover-text {display: none; border: 1px solid black; position: absolute; padding: 2px 5px;
						   font-size: 9pt; background-color: white; font-family: 맑은 고딕; top:60px; line-height: normal;}
li.member-header-item>.member-header-hover-text {top:55px;}
.icon-main:hover + .member-header-hover-text {display: block;}
.icon.member-header-icon-div:hover + .member-header-hover-text {display: block;}

/* 로고 */
div.header-logo-wrap, div.header-menu-wrap {height: inherit;}
div.header-logo-wrap>a {height: inherit; display: block;}
div.header-logo-wrap>a>img {height: auto; width: 100px; padding-top: 5px;}

/* 메뉴 */
div.header-menu-wrap>ul {height: inherit;}
div.header-menu-wrap>ul>li {line-height: 75px;}
.icon.member-header-icon-div {display: initial; margin: 0 12px;}
.member-header-icon {font-size: 20pt; color: #ff8000; padding: 2px 10px;}
.btn.member-header-btn {--bs-btn-padding-x: none; --bs-btn-padding-y: none;}
.btn.member-header-btn.show {border: none;}
.header-info-modify, .header-logout {color: black !important;}
span.message-count {left: 90%; top: -50%;}

/* 헤더 유저 정보 */
div.member-header-user-info {position: absolute; background-color: white; border: 1px solid #ff8000; z-index: 2000;
							 border-radius: 5px; font-family: 프리텐다드; top:55px; right: -10px; width: 250px;
							 font-size: 12pt; line-height: normal; display: none;}
div.member-header-user-info>div {width: inherit; padding: 0 15px; text-align: left;}
div.member-header-user-info>div.profile-close {text-align: right; padding-top: 5px; color: #838383;}
div.member-header-user-info>div.profile-image {text-align: center; margin-bottom: 10px 0;}
div.profile-image>img {width: 55px;}
div.member-header-user-info>div.profile-name {height: 30px; display: flex; align-items: center; margin-bottom: 10px;}
div.member-header-user-info>div.profile-name>span {font-size: 18pt; font-weight: 600;}
span#user-id {font-size: 14pt;}
span#user-code {font-size: 10pt; font-weight: 100; color: #838383; padding-left: 5px;}
div.member-header-user-info>div.profile-button {padding: 10px 15px; text-align: center; display: flex; justify-content: space-evenly;}
div.member-header-user-info>div.profile-button>a.button-user-modify {background-color: #ff8a3d; font-size: 11pt; padding: 5px; text-decoration: none; 
															 		 display: inline-block; border-radius: 7px; color: white;}
div.member-header-user-info>div.profile-button>a.button-logout {border: 1px solid #ff8a3d !important; font-size: 11pt; padding: 5px; display: inline-block;
																border-radius: 7px; color: black !important; text-decoration: none;}
span#friends-edit>a {color: #ababab !important; font-size: 8.5pt; border: 1px solid #ababab; border-radius: 3px;
					 padding: 1px 4px; margin-left: 3px; text-decoration: none;}

/* 화면 크기 클때 css */
@media screen and (min-width: 625px)
{
	.header-menu {margin: 2px 150px;}
	.small-menu {display: none;}
}

/* 화면 크기 작을때 css */
@media screen and (max-width: 625px)
{
	.header-menu {margin: 2px 10px;}
	.default-menu {display: none;}
	.dropdown-toggle::after {display: none;}
	.dropdown-item {--bs-dropdown-link-active-bg : #ff8000;}
}