@charset "UTF-8";

/* 공통 css */
.nav.member-header-body, .navbar.member-header {background-color: white !important;}
.nav-item.member-header-item {margin-top: 2px; margin-right: 10px;}
.member-header-icon {font-size: 20pt; color: #ff8000; padding: 2px 10px;}
li.member-header-item {padding-right: 20px;}
.btn.member-header-btn {--bs-btn-padding-x: none; --bs-btn-padding-y: none;}
.btn.member-header-btn.show {border: none;}
.member-header-hover-text {display: none; border: 1px solid black; position: absolute; padding: 2px 5px; font-size: 9pt; background-color: white; font-family: 맑은 고딕;}
.icon.member-header-icon-div {display: initial; margin: 1px 12px; padding-top: 5px;}
.icon-main:hover + .hover-text {display: block;}
.icon.member-header-icon-div:hover + .hover-text {display: block;}
.header-info-modify, .header-logout {color: black !important;}

/* 화면 크기 클때 css */
@media screen and (min-width: 625px)
{
	.header-menu {margin: 2px 150px;}
	.small-menu {display: none;}

}

/* 화면 크기 작을때 css */
@media screen and (max-width: 625px)
{
	.header-menu {margin: 2px 10px;}
	.default-menu {display: none;}
	.dropdown-toggle::after {display: none;}
	.dropdown-item {--bs-dropdown-link-active-bg : #ff8000;}
}