@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');



@media screen and (max-width: 1200px)
{
	
	.memProfile_zone
	{
		display: none;
	}
	
	.cal_zone {
    border-top: 0 !important;
    border-bottom: 0 !important;
    margin-top: 90px !important;
	}
    
    .sideCalender  
    {
        width: unset !important;
    }
    .nav{
    	width: unset !important;
    }
    .wrapper{
    	width: unset !important;
    }
    
}

@media (min-width: 1200px)
{
	.col-xl-7 
	{
	    flex: 0 0 auto;
	    width: 64% !important;
	 };
}


.cal
{
	height: 280px;
}
.profile_card
{
	width: unset !important;
}

.tbl
{
    width: 100% !important;
    text-align: center;
}

.book-markon
{
	color: #ff8000 !important;
}

.book-mark
{
	color: gray !important;
}

.sideCalender
{
	width: unset !important;
	margin-top: 60px !important;
}


.off_btn
{
    background-color: #FFF !important;
    border: unset !important;
}

.btn-close
{
	margin-left: 335px !important;
}




a
{
	text-decoration: none !important;
    color: white !important;
}

.md-3
{
	"height: 300px;
}

.top_bar
{
    border-top: 1px solid #ff8000;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    border-bottom: 1px solid #ff8000;
}

.bar-item a
{
    color: #ff8000 !important;
    font-family: '라인Seed' !important;
    font-size: 15pt;
    font-weight: bolder;
}

.bar-item > a:hover
{
	color: #ffc107 !important;
}

.top-con
{
	margin-top: 50px;
}


.py-3
{
	display: flex;
}     

      
.left
{
	margin-right: 15px;
}

.right
{
    margin-left: 11px;
}


.fr_txt
{
    width: 70%;
    border-radius: 10px;
    border: 2px solid #ff8000;
}

.fr_btn
{
    width: 55px;
    border-radius: 10px;
    margin-left: -62px;
    border: unset;
    background-color: white;
}

.bi-search
{
	font-size: 16px !important;
}

.my_gr
{
    margin-top: 50px;
}


.gr_option
{
    border: 2px solid #f5f5f5;
    /* width: 100%; */
    height: 225px;
    margin-top: 15px;
    border-radius: 10px 10px 25px 25px;
    background-color: #cccccc17;
    box-shadow: 0px 0px 2px 1px #ff800080 inset, 3px 3px 3px 3px #ff800024;
}

.group
{
	/* border: 1px solid; */
	
}
.group-list
{
	border: 1px solid;
}


.make_gr
{
	text-align: center;
	margin-top: 70px;
}


.txt_top
{
	display: flex;
}

.form-control
{
	width: 85% !important;
}

.findBtn
{
    background-color: #ff8000 !important;
    margin-left: 5px !important;
    width: 50px !important !important;
}

.friend-title
{	
	margin-top: 50px;
}

.createBtn
{
	background-color: #f5f5f500;	
}

.friend
{
	border-top: 1px solid #adb5bd;
    padding-top: 20px;
}

hr
{
	color: #ff8000 !important;
}

.msg_div
{
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
}



.friend_msg
{
	color: red;
	font-size: small;
}

.modal-option
{
	font-size: 20px !important;
}


td
{
	line-height: 21px;
}


#friendResult
{
	text-align: center;
}


button
{
    border: unset;
    background-color: white;
}

.bi-plus-circle-fill
{
	font-size: 33pt !important;
	color: #ccc !important;
}

.gr_img {
    height: 140px;
    overflow: hidden;
}
.gr_img img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.explain:hover
{
   text-decoration: underline;
   cursor: pointer;
}

.gr_name
{
	border-top: 1px solid;
}

img
{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.explain
{
	padding: 5px;
    display: flex;
    flex-direction: column;
}

.book-mark
{
}

#mark
{
	color: gray !important;
}

.bookmark_zone
{
    text-align: right;
    margin-right: 5px;
}
.group_count
{
	font-size: small;
}

.bi-bookmark-heart-fill
{
	font-size: 25px !important; 
}


.img-fluid
{
	width: 85px;
	height: 85px; 
	border: 1px solid #dee2e6;	
}


.menu_list
{
    padding-left: 0;
    text-align: center;	
}

.li_menu
{
	font-size: 30px;
    list-style: square;
    margin-bottom : 20px;
    padding: 5px;
}

.li_menu:hover
{
	background: #ff8b16;
    border-radius: 15px;
	
}



.menu_img
{
    height: 72px;
    width: 80px !important;
    padding: 20px;
}


.option_top
{
    color: #ff8000;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
}

.menu_option
{
	height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;	
}

.menu_option:hover
{
    background-color: #f3f3f3;
    border: !important;
}

  
li
{
	list-style: none;
} 

.m_menu, .p_menu
{
	color: black !important;
}


.right_content
{
	border: 1px solid;
    padding: 5px;
    height: 320px;
}

.prof_info
{
	text-align: left;
}

.join_date
{
 	border-radius: unset !important; 
}

.bis
{
 	color: black !important;
 	font-size: 15px !important;	
}


.infoItem
{
	margin-left: 
}

.hover-text
{
	border: 1px solid black;
	display: none;
	font-size: 8pt;
	background-color: white;
	position: absolute;
}
.bis:hover + .hover-text
{
	display: block;
}


.cal_zone
{
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
    margin-top: 45px;
}
.wrapper
{
   	margin-top: -30px;
}


