@charset "UTF-8";

@font-face 
{
    font-family: '라인Seed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
	
body
{
	font-family: 라인Seed;
	font-size: 15pt;  
}
.card-header
{
	background-color: #ff8000;
	color: white;
}
.list-btn, .submit-btn
{
	background-color: #ff8000;
    color: white;
    border-radius: 10px;
    border: none;
}

.list-btn:hover, .submit-btn:hover
{
	color: black;
}

.container
{
	max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bi-search 
{
   	border: none;
    font-size: 12pt;
    background-color: #ff8000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
   
.bi-search:hover 
{
	background-color: #ff8000;
	color: black;
}

.btns
{
	text-align: center;
}

textarea
{
	resize: none;
}

.modal-body
{	overflow-y: auto; /* 수직 스크롤바 설정 */
	max-height: 400px; /* 최대 높이 설정 */
}
    
::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb 
{
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}


.friend-info img 
{
   width: 36px !important;
}

th
{
	font-family: 라인Seed;
}

h2
{
	font-family: 라인Seed;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}


#modal-btn, .invite-btn
{
	font-size: 15px;
	font-weight: bold;
    border: solid 2px #ffffff;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8000;	
}
	
.friends 
{
	overflow-y: auto; /* 수직 스크롤바 설정 */
	max-height: 500px; /* 최대 높이 설정 */
}

.friends h2 
{
    font-size: 24px;
    color: black;
    border: 2px solid #ff8000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.friends .lists li 
{
    padding: 15px 0;            
    border-bottom: 1px solid #ff8000;
    color: #343a40;
    font-size: 18px;
    list-style: none;
}

.container 
{
	padding-top: 50px;
	
}

img.friend-profile
{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ff8000;
}

.friend-profile
{
	display: flex; 
	justify-content: space-between;
}

.modal-content
{
	width: 150%;	
}