@charset "UTF-8";


*{
	font-family: 라인Seed;
	font-size: 13pt;
}
.sideBar 
{
    margin-left: 139px !important;
    width: 280px;
}
	
.myPage
{
    width: 1270px;
    position: absolute;
    top: 135px;
    height: 830px;
    margin-left: 480px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
}

.myPage h3
{

	margin-top:20px;
	margin-left: 35px;
	display: inline-block;
}

.sideBar
{
	margin-left: 180px;
}

/* .myPage_side */
.myPage_side
{
	border-right: 1px solid #ddd;
	width: 270px;
	height: 830px;
	float: left;
	font-size: 15px;
}

.myPage_side li
{
	list-style: none;
	margin-top: 20px;
}
	
.myPage_side p 
{
   	padding: 5px;
   	text-align: center;
}	

.myPage_side img
{
	width: 100px;
	margin-top: 20px;
	border: 0;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}

.myPage_side span
{
	display: inline-block;
	text-align: center;
	margin-top: 150px;
}

.myPage_side span>a
{
	margin-left: 10px;
	color: #363636;
}


/* myPage_MyInfo , myPage_AccountInfo */
.myPage_MyInfo.active, .myPage_AccountInfo.active
{
	border: 1px soild #ddd;
	border-radius: 15px;
	background-color: white;
	padding: 10px;
	box-shadow: 3px 3px 3px #ddd;
	margin-left: 30px;
	margin-right: 30px;
	display: block;
}

.myPage_MyInfo, .myPage_AccountInfo
{
	display: none;
}

.myPage_MyInfo.active div, .myPage_AccountInfo.active div
{
	padding-top: 5px;
}

.myPage_MyInfo.active img, .myPage_AccountInfo.active img
{
	border: 0;
  		border-radius: 50px;
  		width: 50px;
}

.myPage_MyInfo.active .header
{
	margin-left: 20px;
	display: inline-block;
	width: 200px;
}

.myPage_AccountInfo.active .header
{
	margin-left: 20px;
	display: inline-block;
	width: 200px;
}

.myPage_MyInfo.active input, .myPage_AccountInfo.active input
{
	padding: 3px;
	margin: 0px;
}

.myPage_main
{
	width: 1000px;
	float: right;
}
.myPage_main_update
{
	width: 1000px;
	float: right;
	height: 
}

#addr
{
	margin-left: 24%
}

/* 버튼  */
.mybtn 
{
	float: right;
	font-size: 12pt;
	margin-right: 20px;
	border: none;
	background-color: transparent;
	color: #ff8000;
	
}

.button
{
	font-size: 12pt;
	margin-right: 7px;
	border: 0;
}

.pwdbtn
{
	float: none;
	margin-left: -5px;
}


/* 탭 */
.nav 
{
   	margin-left: 0px !important; 
}

.nav-pills .groupMyNav.active, .nav-pills .show>.groupMyNav 
{
   	color: #ff8000 !important;
    text-decoration-line: underline;
   	text-underline-offset: 10px;
   	background: transparent !important; 
}

.tab-pane
{
	text-align: left;
}

.groupMyNav:hover
{
   	color: #363636;
}

.groupMyNav
{
	color: dimgray !important; 
	font-size: 21px !important;
   	padding: 10px !important;
}

.reporttab
{
	width: 500px !important;
}

.mytab
{
	color: #363636;
	width: 1000px;
	height: 720px;
	background-color: #dddddd1f;
}

/* 페이징 */

div.paging
{ margin-top: 50px;}

nav.page-nav
{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

ul.page-list
{
   display: flex;
    justify-content: space-between;
    list-style: none;
}

a.page-control
{
   padding: 3.5px 6px;
   border: 1px solid #b5b5b5;
   margin: 4px;
   background-color: white
   text-decoration: none;
   color: #363636;
   font-size: 10pt;
   border-radius: 4px;
   display: inline-flex;
}

a.page-control:hover
{
   background-color: #ff8a3d;
   border: 1px solid #ff8a3d;
   color: white;
}

a.page-control.now-page
{
   background-color: #ff8000;
   border: 1px solid #ff8000;
   color: white;
   font-weight: bold;
}

.Mycontent
{
	padding: 35px;
	padding-top: 70px;
}

.Mycontent select
{
	padding: 5px;
	margin-bottom: 10px;
}
.table
{
	box-shadow: 3px 3px 3px #ddd;
}
.table th
{
	color: #ff8000;
}

/* 모임 일정 */
.MeetingCalender
{
	padding:20px;
	padding-top: 30px;
}

#addr input
{
	width: 500px;
}

	